*{margin: 0; padding: 0;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box;}
*:focus, input:focus, a:focus, div:focus, span:focus{outline: none}
.grid1:first-child,
.grid2:first-child,
.grid3:first-child,
.grid4:first-child,
.grid5:first-child,
.grid6:first-child,
.grid7:first-child,
.grid8:first-child,
.grid9:first-child,
.grid10:first-child,
.grid11:first-child{margin-left:0;}
.grid1{width:8.3134403935185%;}
.grid2{width:16.648582175926%;}
.grid3{width:24.983723958333%;}
.grid4{width:33.318865740741%;}
.grid5{width:41.654007523148%;}
.grid6{width:49.989149305556%;}
.grid7{width:58.324291087963%;}
.grid8{width:66.65943287037%;}
.grid9{width:74.994574652778%;}
.grid10{width:83.329716435185%;}
.grid11{width:91.664858217593%;}
.grid1,
.grid2,
.grid3,
.grid4,
.grid5,
.grid6,
.grid7,
.grid8,
.grid9,
.grid10,
.grid11{display:inline; float:left; margin: 0 0 0 0.20833333333333%; list-style:none;}
.first{margin-left:0; clear:left;}
.full,.grid,.grid12{display:block; width:100%; clear:both;}
.full>div:nth-child(1),.grid>div:nth-child(1),.grid12>div:nth-child(1){margin-left:0; clear:left;}
.clear:before, .clear:after{content: " "; display: table;}
.clear:after {clear: both;}
.clear {*zoom: 1;}
.clear_line{clear: both; width: 100%; height: 1px; margin-top: -1px}
.hidden{visibility: hidden}
.none,.hide{display: none}
.block{display: block}
.inline{display: inline}
.width100{width:100%}
.width75{width:75%}
.width50{width:50%}
.width33{width:33%}
.width25{width:25%}
.width10{width:10%}
.txt_left,.text_left{text-align:left}
.txt_right,.text_right{text-align:right}
.txt_center,.text_center{text-align:center}
.font_bold{font-weight: bold}
.font_italic{font-style: italic}
.font_normal{font-style: normal}
.mrg_top{margin-top:0}
.mrg_bottom{margin-bottom: 0}
.mrg_left{margin-left: 0}
.mrg_right{margin-right: 0}
.mrg_center{margin: 0 auto}
.flt_left{float: left}
.flt_right{float: right}
.tbl{display:table; width:100%}
.tbl_cell{display:table-cell;vertical-align:middle}
.tbl_row{display:table-row}
.tbl_column{display:table-column}
.tbl_capt{display:table-caption}
.valign_baseline{vertical-align:baseline}
.valign_bottom{vertical-align:bottom}
.valign_middle{vertical-align:middle}
.valign_top{vertical-align:top}
.select_off{-webkit-user-select: none; -moz-user-select: none; user-select: none}

#hello {
	color: red;
}

.left {
	float:left;
}
.right {
	float:right;
}
.clear {
	clear: both;
}

/* Message list */
ul.messagelist {
	width:280px;
	float:left;
}
ul.messagelist li.activetalk {
	font-weight: bold;
}
ul.messagelist li {
	min-width: 350px;
	color: #1d2d44;
	padding: 5px 10px;
	border: #FFFFFF 1px solid;
	vertical-align: top;
	cursor: pointer;
}
li.messagelist li.title:hover {
	text-decoration: underline;
}
ul.messagelist li.activetalk:hover {
	background-color: #FFFFFF;
	cursor: default !important;
	text-decoration: none !important;
}
ul.messagelist li.title .id {
	display: none;
}
.all-talks .talk-body {
	max-width:500px;
	min-width: 320px;
	margin-top: 7px;
	float: left;
}
.all-talks .talk-body .talk-title {
	font-weight: bold;
}
.all-talks .talk-body .talk-author {
	font-size: 10px;
	font-style: italic;
}
.all-talks .talk-body .talk-prewiev {
	font-size: 11px;
}
.all-talks .talk-body .talk-answers {
	margin-left: 15px;
}
.all-talks .talk-body .newanswer input[type="text"] {
	margin-left: 15px;
	width: 200px;
}
.attachements {
	max-width: 300px;
	margin: 10px;
	float: left;
}
.attachements .file {
	margin-right: 10px;
	min-width: 220px;
	float:left;
}
.attachements img {
	height: 32px;
	margin-right: 5px;
	float:left;
}
.attachements .file-name {
	height: 32px;
	padding-top: 8px;
	vertical-align: middle;
	float:left;
}
.attachements .uploaded-time {
	clear:both;
	width:100%;
	text-align: right;
	font-size: 10px;
	font-style: italic;
	font-weight: bold;
}

/* Message list */
.messagelist {
	width:100%;
	border:#FFFFFF 1px solid;
}
.messagelist tr.messagerow td.title:hover {
	text-decoration: underline;
}
.messagelist tr.activerow:hover {
	background-color: #FFFFFF;
	cursor: default !important;
}
.messagelist tr.activerow td.title:hover {
	text-decoration: none !important;
	cursor: default !important;
}
.messagelist td {
	color:#1d2d44;
	padding:5px 10px;
	border:#FFFFFF 1px solid;
	vertical-align: top;
}
.messagelist tr.messagerow td:hover {
	cursor: pointer;
}
.messagelist tr.activerow td.title {
	font-weight: bold;
}
.messagelist td.talk-body {
	max-width: 500px;
}
.messagelist td.talk-body .talk-title {
	font-weight: bold;
}
.messagelist td.talk-body .talk-author {
	font-size: 10px;
	font-style: italic;
}
.messagelist td.talk-body .talk-prewiev {
	font-size: 11px;
}
.messagelist td.talk-body .talk-answers {
	margin-left: 15px;
}

.messagelist .id {
	width:20px;
}
.messagelist .title {
	min-width:350px;
}
.messagelist .date {
	width:150px;
}
.messagelist .author {
	width:100px;
}
.messagelist .title {
	width:20px;
}
.messagelist td.attachements .file {
	margin-right: 10px;
	float:left;
}
.messagelist td.attachements img {
	height: 32px;
	margin-right: 5px;
	float:left;
}
.messagelist td.attachements .file-name {
	height: 32px;
	padding-top: 8px;
	vertical-align: middle;
	float:left;
}
.messagelist td.attachements .uploaded-time {
	clear:both;
	width:100%;
	text-align: right;
	font-size: 10px;
	font-style: italic;
	font-weight: bold;
}


/* Show message */
.read-message {
	width: 100%;
	padding:5px;
	/* color: #555555;
	background-color: #F7F7F7; */
}
.talk-info div {
	width: 100%;
	background-color: #FFFFFF;
	border-bottom: #EFEFEF 1px dotted;
}
.talk-info div:last-child {
	border-bottom: none;
}
.talk-info .rowheader {
	width: 100px;
	padding-left: 5px;
	margin-right: 5px;
	/* background-color: #F7F7F7; */
	float: left;
}
.read-message .talk-body {
	margin-top:10px;
	min-width: 55px;
	min-height: 100px;
	float:none !important;
}
.message-buttons {
	width: auto;
	display: flex;
	display: -moz-flex;
	display:-webkit-flex;
	position: relative;
}
.message-buttons button {
	width: 100px;
	/* height: 35px;
	color: #FFFFFF;
	background-color: #0a235d; */
}
.message-buttons button.disabled {
	color:#99999B;
	background-color: #E8E8E8;
	cursor: auto;
}
.message-buttons #mark {
	position: relative;
}
.message-buttons .mark-talk-as {
	width: 98px;
	height: 100%;
	position: absolute;
	z-index: 2;
	top: 0px;
	left: 201px;
}
.message-buttons .mark-talk-as #mark-talk-as {
	display: none;
	width: 98px;
	margin-top: 37px;
}
#mark-talk-as li {
	padding: 0 10px 2px 10px;
	text-align: left;
	width: 100%;
	color:#EEEEEE;
	background-color: #555555;
	cursor: pointer;
}
#mark-talk-as li:hover {
	background-color: #777777;
}

/* Begin talk */
.begin-talk {
	width: 550px;
	padding: 15px;
}
.talk-title {
	width: 100%;
}
.begin-talk .rowheader {
	width: 100px;
	padding: 10px 0 0 5px;
	margin-right: 5px;
	/*float: left;*/
}
.talk-title input {
	width: 100%;
}
.begin-talk .talk-body {
	width: 100%;
	padding:0;
	min-height: 100px;
	background-color: inherit;
}
.talk-body textarea {
	width: inherit;
	min-height: 100px;
}
.begin-talk #send {
	width: 100px;
	height: 35px;
	color: #FFFFFF;
	text-align: center;
	vertical-align: middle;
	background-color: #55EEAA;
	border-radius: 5px;
	margin: 5px;
}
.uploadedfiles {
	width: 100%;
	height: auto;
}
.uploadedfiles ul li {
	min-width:200px;
	/* float: left; */
}
.uploadedfiles #uploadimg {
	display: none;
}
.uploadedfiles .thumbnail {
	width: 16px;
	height: 16px;
	/*float: left;*/
}
.uploadedfiles .name, .uploadedfiles .size {
	margin-left: 10px;
	float: left;
}
.talk-subscribers fieldset {
	margin: 10px 0;
	padding: 0;
}
.talk-subscribers fieldset .group-name {
	font-weight: bold;
	width: 200px;
}
.talk-subscribers fieldset .group-users {
	/* display: flex;
	display: -moz-flex;
	display:-webkit-flex; */
	width: 520px;
}
.talk-subscribers fieldset .group-user {
	width: 130px;
	height: 25px;
	vertical-align: middle;
	float:left;
}
.talk-subscribers label {
	min-height: 25px;
	vertical-align: middle;
	position: relative;
	top:-5px;
}
.talk-subscribers input {
	margin-right: 10px;
}

input[type="checkbox"] {
	display:none;
}
input[type="checkbox"] + label {
	margin-right: 8px;
}
input[type="checkbox"] + label span {
	display:inline-block;
	width:19px;
	height:19px;
	margin:0px 0px 0 0;
	vertical-align:middle;
	background:url('../img/checkbox.png') left top no-repeat;
	cursor:pointer;
}
input[type="checkbox"]:checked + label span {
	background:url('../img/checkbox-checked.png') left top no-repeat;
}


input[type="text"], input[type="password"], input[type="search"], input[type="number"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], textarea, select, button, .button, input[type="submit"], input[type="button"], #quota, .pager li a {
	margin: 3px 0;
}

.choose-file {
	width:100%;
	height: 32px;
	margin: 5px 0;
}
#uploadFile {
	width: 275px;
}
.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 5px 0 5px 10px;
	height: 30px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	height: 30px;
}
.fileUpload span {
	width: 110px;
	height: 30px;
	min-width: 70px;
	padding: 5px 10px;
	margin-left: 16px;
	background-color: rgba(240,240,240,.9);
	font-weight: 600;
	color: #555;
	border: 1px solid rgba(240,240,240,.9);
	cursor: pointer;
	line-height: 30px;
	border-radius: 3px;
}
.fileUpload span:hover, .fileUpload span.hovered {
	background-color: rgba(255, 255, 255, .95);
	color: #111;
}


/* App navigation */
/* #app #app-navigation li.active {
	background-color: #ECEFF4;
} */

/* Attachements */
.talk-attachements {
	margin: 10px 0;
	padding: 0 10px;
}
.talk-attachements .attached-file {
	min-width: 150px;
	margin-right: 20px;
	float:left;
}
.attached-file .thumbnail {
	width:16px;
	height:16px;
	margin-right: 4px;
	background-size: 16px auto;
	float: left;
}
.attached-file a.name {
	float: left;
}
.attached-file a.name:hover {
	text-decoration: underline;
}
.attached-file .filesize {
	width: 80px;
	color:rgb(160,160,160);
	text-align:right;
	float: right;
}
.talk-attachements #ajax-showfiles, .talk-attachements #loadimg {
	margin-right:10px;
	float:left;
}
.talk-attachements #loadimg {
	display: none;
}
.talk-attachements .attach-files {
	width:100%;
	height: 0;
}

#filestable .folder {
	padding:0 0 0 20px;
}

/* * * * * * * * * * * */
.content_info{
	font-size: 14px;
}
.content_info>div{
    padding: 5px;
}
.talk_title{
    font-size: 110%;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 5px;
}

.talk_title_inline{
    font-size: 110%;
    font-weight: bold;
}






